body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: #fff;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 15px;
  background: #fff;
  border-radius: 8px;
}

h2 {
  color: #222;
}

ul {
  line-height: 1.8;
}
footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: #fff;
}
